/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
section{
	display: block;
}
/* General Demo Style */
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #95AB9D url(../images/texture.png) repeat top left;
	font-weight: 400;
	color: #3a2127;
	overflow-y: scroll;
}
.container{
	width: 100%;
	padding-bottom: 40px;
	min-width: 590px;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px;
	margin: 0px 20px 20px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
	font-family: 'Montserrat', Impact, Arial, sans-serif;
	text-transform: uppercase;
}
section{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.main, .sub{
	border-bottom: 3px dashed rgba(248, 236, 191, 0.6);
	padding-bottom: 50px;
}
.sub{
	padding: 50px 0px;
}
.example, .code{
	width: 40%;
	padding: 5%;
	float: left;
}
.code{
	text-align: left;
	font-family: 'Montserrat', Impact, Arial, sans-serif;
	color: #452716;
}
code{
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 20px;
	background: rgba(0, 0, 0, 0.1);
	clear: both;
	position: relative;
	display: block;
	margin-top: 10px;
	border-radius: 10px;
}