.arc-wrapper{
	position: relative;
	margin: 0px auto;
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	width: 400px;
	height: 200px;
}
.arc-wrapper h3{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 28px;
	padding-top: 100%;
	color: #D26A44;
	letter-spacing: -4px;
	text-shadow: 1px 1px 1px #954c04;
}
.example h3{
	font-family: 'Concert One', serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	color: #D26A44;
	font-size: 40px;
}